<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="long"><h2>도곡렉슬아파트</h2></div>
            <div class="apt">
                <ul class="colors">
                    <li><span class="color"></span><span class="about">접속</span></li>
                    <li><span class="color"></span><span class="about">정지</span></li>
                    <li><span class="color"></span><span class="about">전력거래<br/>(KPX, DR)</span></li>
                    <li><span class="color"></span><span class="about">V2G</span></li>
                    <li><span class="color"></span><span class="about">통신불량</span></li>
                </ul>
                <ul class="sum">
                    <li>금일:<span>8,470</span>kwh</li>
                    <li>누적:<span>823,450</span>kwh</li>
                </ul>
                <div class="car">
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                </div><!-- car end-->
                <ul class="arrows">
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color red"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color skyblue"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color gray"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color purple"></span>
                    </li>
                </ul>
                <div class="building">
                    <h4>건물_A</h4>
                    <ul class="bd">
                        <li><span class="num">4,235</span>kWh</li>
                        <li><span class="num">2,550</span>천원</li>
                    </ul>
                    <div class="battery">
                        <p class="top_cell"></p>
                        <ul>
                            <li>blank</li>
                            <li>blank</li>
                            <li>blank</li>
                            <li class="on">blank</li>
                            <li class="on">blank</li>
                        </ul>
                        <p>40%<span>ESS SOC</span></p>
                    </div>
                </div>
                
                <div class="car">
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                    <dl>
                        <dt><span class="dot"></span>고객번호 : A001<br/><span class="dot"></span>고객번호 : A001</dt>
                        <dd class="sky">잔량 : 65%</dd>
                        <dd class="yellow">예약 : 40%</dd>
                    </dl>
                </div><!-- car end-->
                <ul class="arrows">
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color red"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color skyblue"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color gray"></span>
                    </li>
                    <li>금일V2G
                        <span>234 kWh<br/>134,000원</span>
                        <span class="color purple"></span>
                    </li>
                </ul>
                <div class="building fr">
                    <h4>건물_B</h4>
                    <ul class="bd">
                        <li><span class="num">4,235</span>kWh</li>
                        <li><span class="num">2,550</span>천원</li>
                    </ul>
                    <div class="battery">
                        <p class="top_cell"></p>
                        <ul>
                            <li>blank</li>
                            <li class="on">blank</li>
                            <li class="on">blank</li>
                            <li class="on">blank</li>
                            <li class="on">blank</li>
                        </ul>
                        <p>80%<span>ESS SOC</span></p>
                    </div>
                </div>
            </div><!-- apt end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
    <script>
    $('#sido').val("서울");
    $("#sido").trigger("change");
    $('#gumyun').val("강남구");
    $('#searchStr').val("도곡렉슬아파트");
    </script>
</body>
</html>