<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="long"><h2>강남구</h2></div>
            <div class="area_sec">
                <div class="region">
                    <h3>압구정라이프미성2차<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>역삼e편한세상아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현두산위브<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>역삼래미안아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>압구정신현대아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>청담우성아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현2아펠비움<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>래미안대치팰리스<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>압구정한양6차<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>청담e편한세상<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현월드메르디앙<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>도곡렉슬아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>청담아이파크<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현동현대아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>삼성동센트럴아이파크<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>도곡현대아이파크<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec last">
                <div class="region">
                    <h3>GS개포자이아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>레미안루체임아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>수서목련타운아파트<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>레미안블레스티지<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>
</html>