<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes seoul">
            <div class="long"><h2>서울특별시</h2></div>
            <div class="area_sec float">
                <div class="region">
                    <h3>은평구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>도봉구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>강북구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>노원구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>성북구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>서대문구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>종로구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>동대문구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>중구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>성동구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>마포구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>강서구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>양천구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="seoul_map"><img src="img/seoul_map.png" alt="서울지도"></div>
            <div class="area_sec nomargin">
                <div class="region">
                    <h3>중랑구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>광진구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec float">
                <div class="region">
                    <h3>구로구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>영등포구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>용산구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>강남구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>강동구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>금천구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>관악구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>동작구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>서초<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>송파구<span>(전체 : 320대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">20</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">1,530</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">25,360</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>
</html>