<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="half stats">
                <h2>KPX 거래</h2>
                <div><img src="/img/graph_ex01.png"></div>
            </div><!-- half end-->
            <div class="half stats fr">
                <h2>DR 거래</h2>
                <div><img src="/img/graph_ex01.png"></div>
            </div><!-- half end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>    
</html>