@charset "utf-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumGothic-Regular.eot);
  src: url(../font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Regular.woff) format('woff'),
       url(../font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumGothic-Bold.eot);
  src: url(../font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Bold.woff) format('woff'),
       url(../font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url(../font/NanumGothic-ExtraBold.eot);
  src: url(../font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-ExtraBold.woff) format('woff'),
       url(../font/NanumGothic-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'nanum-square-r';
    font-style: normal;
    font-weight: normal;
    src: url(../font/nanumsquarer.eot);
    src: url(../font/nanumsquarer.eot?#iefix) format('embedded-opentype'),
         url(../font/nanumsquarer.woff2) format('woff2'),
         url(../font/nanumsquarer.woff) format('woff'),
         url(../font/nanumsquarer.ttf) format('truetype'),
         url(../font/nanumsquarer.svg#nanumsquarerregular) format('svg');
}
@font-face {
    font-family: 'nanum-square-b';
    font-style: normal;
    font-weight: normal;
    src: url(../font/nanumsquareb.eot);
    src: url(../font/nanumsquareb.eot?#iefix) format('embedded-opentype'),
         url(../font/nanumsquareb.woff2) format('woff2'),
         url(../font/nanumsquareb.woff) format('woff'),
         url(../font/nanumsquareb.ttf) format('truetype'),
         url(../font/nanumsquareb.svg#nanumsquarebregular) format('svg');
}

