<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="long mb0"><h2>고객목록</h2></div>
            <table class="table01">
                <thead>
                    <tr>
                        <th>고객번호</th>
                        <th>아이디</th>
                        <th>거주주소</th>
                        <th>금일V2G(kWh)</th>
                        <th>누적V2G(kWh)</th>
                        <th>현재접속여부</th>
                        <th>이달정산예상금액(원)</th>
                        <th>누적정산금액(원)</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>000001</td>
                        <td>abcd1234</td>
                        <td>서울 관악구</td>
                        <td>234</td>
                        <td>234</td>
                        <td>Y</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>000002</td>
                        <td>abcd1234</td>
                        <td>서울 관악구</td>
                        <td>234</td>
                        <td>234</td>
                        <td>Y</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>000003</td>
                        <td>abcd1234</td>
                        <td>서울 관악구</td>
                        <td>234</td>
                        <td>234</td>
                        <td>Y</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>000004</td>
                        <td>abcd1234</td>
                        <td>서울 관악구</td>
                        <td>234</td>
                        <td>234</td>
                        <td>Y</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>000005</td>
                        <td>abcd1234</td>
                        <td>서울 관악구</td>
                        <td>234</td>
                        <td>234</td>
                        <td>Y</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>
</html>