<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="half">
                <h2>KPX 거래</h2>
                <ul class="deal">
                    <li>
                        <span class="deal_t">금일</span>
                        <span class="num_yellow">53,000</span>kWh
                        <span class="num_yellow m20">169,000</span>천원
                    </li>
                    
                </ul>
                <ul class="deals">
                    <li>
                        <span class="deal_t2">서울</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>7,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경기</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>3,129,360<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">강원</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>3,129,020<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">충북</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>2,159,640<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals2">
                    <li>
                        <span class="deal_t2">충남</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>3,129,030<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경북</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>7,129,500<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경남</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>1,549,240<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">전북</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>4,879,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">전남</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>1,25,550<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">제주</span>
                        <span class="num_yellow">81,530<b>kWh</b><br/>1,659,010<b>천원</b></span>
                    </li>
                </ul>
                <p style="text-align:center; margin:25px 0"><img src="img/btn_up.png" style="margin-right:20px"><img src="img/btn_down.png"></p>
                <ul class="deal_arrow">
                    <li>
                        <span><img src="img/btn_up_s.png"> 전력판매</span>
                        <span><img src="img/btn_down_s.png"> 판매요청</span>
                    </li>
                    <li><img src="img/kpx_logo.png"></li>
                </ul>
            </div><!-- half end-->
            <div class="half fr">
                <h2>DR 거래</h2>
                <ul class="deal">
                    <li>
                        <span class="deal_t">금일</span>
                        <span class="num_yellow">2,000</span>kWh
                        <span class="num_yellow m20">739,000</span>천원
                    </li>
                </ul>
                <ul class="deals dr">
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">서울</span>
                        <span class="num_yellow">2,530<b>kWh</b><br/>1,329,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">경기</span>
                        <span class="num_yellow">48,530<b>kWh</b><br/>2,129,530<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals dr side">
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">충북</span>
                        <span class="num_yellow">24,530<b>kWh</b><br/>1,546,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">강원</span>
                        <span class="num_yellow">45,530<b>kWh</b><br/>4,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">충남</span>
                        <span class="num_yellow">15,530<b>kWh</b><br/>1,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">경북</span>
                        <span class="num_yellow">1,750<b>kWh</b><br/>1,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">전북</span>
                        <span class="num_yellow">2,420<b>kWh</b><br/>2,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">경남</span>
                        <span class="num_yellow">12,250<b>kWh</b><br/>3,129,530<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals dr nobo">
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">전남</span>
                        <span class="num_yellow">8,530<b>kWh</b><br/>7,129,530<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : 12시 15분</span>
                        <span class="deal_t2">제주</span>
                        <span class="num_yellow">1,220<b>kWh</b><br/>1,129,530<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deal_arrow dr">
                    <li>
                        <span><img src="img/arrow_01.png"> 전력판매</span>
                        <span><img src="img/arrow_02.png"> 판매요청</span>
                    </li>
                </ul>
            </div><!-- half end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>    
</html>